# import packages
import(ggplot2)
import(methods)

# import specific functions from packages
importFrom(stats, aggregate)
importFrom(stats4, plot, summary)
importFrom(utils, head, tail)

# export everything (for testing)
exportPattern("^[[:alpha:]]+")

# load dynamic C++ library
useDynLib(simFrame)
