export(BasicContControl)
export(BasicSampleControl)
export(ContControl)
export(DataControl)
export(NAControl)
export(RandomContControl)
export(SampleControl)
export(SampleSetup)
export(SimControl)
export(SimResults)
export(SummarySampleSetup)
export(TwoStageSampleControl)
export(brewer)
export(inclusionProb)
export(midzuno)
export(srs)
export(tille)
export(ups)
exportClasses(BasicContControl)
exportClasses(BasicSampleControl)
exportClasses(BasicVector)
exportClasses(ContControl)
exportClasses(DataControl)
exportClasses(NAControl)
exportClasses(OptCall)
exportClasses(OptCharacter)
exportClasses(OptContControl)
exportClasses(OptDataControl)
exportClasses(OptNAControl)
exportClasses(OptNumeric)
exportClasses(OptSampleControl)
exportClasses(RandomContControl)
exportClasses(SampleControl)
exportClasses(SampleSetup)
exportClasses(SimControl)
exportClasses(SimResults)
exportClasses(SummarySampleSetup)
exportClasses(TwoStageSampleControl)
exportClasses(VirtualContControl)
exportClasses(VirtualDataControl)
exportClasses(VirtualNAControl)
exportMethods(aggregate)
exportMethods(autoplot)
exportMethods(contaminate)
exportMethods(draw)
exportMethods(fortify)
exportMethods(generate)
exportMethods(getAux)
exportMethods(getCall)
exportMethods(getCollect)
exportMethods(getColnames)
exportMethods(getControl)
exportMethods(getDesign)
exportMethods(getDots)
exportMethods(getEpsilon)
exportMethods(getFun)
exportMethods(getGrouping)
exportMethods(getIndices)
exportMethods(getInfo)
exportMethods(getIntoContamination)
exportMethods(getK)
exportMethods(getNARate)
exportMethods(getNrep)
exportMethods(getProb)
exportMethods(getSeed)
exportMethods(getSize)
exportMethods(getTarget)
exportMethods(getTuning)
exportMethods(getType)
exportMethods(getValues)
exportMethods(head)
exportMethods(length)
exportMethods(plot)
exportMethods(runSimulation)
exportMethods(setNA)
exportMethods(setup)
exportMethods(show)
exportMethods(simPlot)
exportMethods(subset)
exportMethods(summary)
exportMethods(tail)
import(ggplot2)
import(methods)
import(stats4)
useDynLib(simFrame)
